@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
    color: #060709;
    font-family: 'Lato';
    @apply transition-colors;
    @apply duration-300;
  }
  .dark {
    background-color: #060709;
    color: white;
  }
}
@layer components {
  .tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max -left-10 top-6
    rounded-md shadow-md text-white bg-black-light
    text-sm font-bold transition-all duration-100 scale-0 origin-left
  }
}